.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group {
    display: none;
}

.show {
    display: block;
}

.list-group {
    display: block;
    height: 0;
    transition: all 1s;
    overflow: hidden;
}

.show-list {
    visibility: visible;
    height: 210px;
}